:host {
  position: relative;
  width: 100%;
  height: calc(50vh + 1.25rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  box-sizing: border-box;
  padding-bottom: 2.5rem;

  div.social-media-container {
    display: flex;
    gap: .5rem;

    app-icon {
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  p.header-subtitle {
    width: 50%;

    text-align: center;
  }
}
