<div class="project-card-container">

  <p class="project-card-index hint"> Project #{{ project.id }} </p>
  <h1 class="project-card-title title_1"> {{ project.title }} </h1>
  <p class="project-card-subtitle default"> {{ project.subtitle }} </p>

  <div class="project-card-tech-container">
    @for (media of project.medias; track media) {
      <app-icon [ico]="media.ico" [link]="media.link" class="{{ theme }}"/>
    }
  </div>

  <button (click)="navigateTo(project.id)" app-btn class="{{ theme }}">
    Ver Projeto
    <i> arrow_forward </i>
  </button>

</div>
