@use '../../../../styles/palette.scss';

:host {
  // min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  box-sizing: border-box;
  padding: 1.5rem 3rem;

  div.project-cards-container {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;

    div.project-ghost {
      height: 100%;
      min-width: 290px;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      box-sizing: border-box;
      border: 1px solid;
      padding: .5rem;

      opacity: 0;

      transition: all .3s ease-in-out;

      p { display: none; }

      &::before {
        content: 'Mais projetos em breve...';

        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 700;

        box-sizing: border-box;
        border: 1px solid;
      }

      &:hover { opacity: .15; }
    }
  }
}

// palette settings
:host {
  $palettes: ('blue_light', 'blue_dark', 'pink_light', 'pink_dark');

  @each $palette in $palettes {
    &.#{$palette} {
      div.project-cards-container div.project-ghost {
        &::before {
          @extend .#{$palette}_primary_bg;
        }
      }
    }
  }
}

:host {
  @media screen and (max-width: 1024px) {
    padding: 1rem;

    div.project-cards-container {
      gap: 1rem;
    }
  }
}
