@use '../../../../styles/palette.scss';

:host {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  box-sizing: border-box;
  padding: 1.5rem 3rem;

  div.project-cards-container {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;

    div.project-ghost {
      height: 100%;
      min-width: 290px;
      width: 100%;
      display: block;

      opacity: .05;

      transition: opacity .3s ease-in-out;

      &:hover { opacity: .15; }
    }
  }
}

// palette settings
:host {
  &.blue_light {
    div.project-cards-container div.project-ghost {
      @extend .blue_light_secondary_bg;
    }
  }
  &.blue_dark {
    div.project-cards-container div.project-ghost {
      @extend .blue_dark_secondary_bg;
    }
  }
  &.pink_light {
    div.project-cards-container div.project-ghost {
      @extend .pink_light_secondary_bg;
    }
  }
  &.pink_dark {
    div.project-cards-container div.project-ghost {
      @extend .pink_dark_secondary_bg;
    }
  }
}

:host {
  @media screen and (max-width: 1024px) {
    padding: 1rem;

    div.project-cards-container {
      gap: 1rem;
    }
  }
}
