<app-header [theme]="theme" />

<app-about [theme]="theme">
  <article class="about-left">
    <p class="default"> Posso codar para frontend com Angular, React, Next.js e estou atualmente aprendendo a lidar com Vue.js </p>
    <p class="default"> Posso criar os componentes que você precisa ou se quiser algo mais rápido e prático, posso usar o que há de melhor do Angular Material. </p>
  </article>
  <article class="about-right">
    <p class="default"> Posso codar para Backend com Node.js e NestJS. </p>
    <p class="default"> Posso usar o Prisma, o TypeORM ou o Mongoose para uma suave integração com Banco de Dados SQL ou NoSQL. </p>
    <p class="default"> E posso documentar facilmente com o Swagger. </p>
  </article>
</app-about>

<app-home-services />

<app-home-projects [theme]="theme" class="{{ theme }}" />

<footer>
  <div class="social-media">
    <app-icon ico="github" class="{{ theme }}" />
    <app-icon ico="linkedin" class="{{ theme }}" />
    <app-icon ico="behance" class="{{ theme }}" />
    <app-icon ico="instagram" class="{{ theme }}" />
  </div>

  <p class="hint"> © Developed by Bianca Maxine. </p>
</footer>
