@use '@angular/material' as mat;

:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;

  box-sizing: border-box;
  padding: 1rem;
  padding-left: 3rem;

  * { text-align: right; }

  h1, p { margin: 0; }
  h1.title { font: var(--mat-sys-display-large); }
  p.subtitle { font: var(--mat-sys-headline-small); }
  p.description { font: var(--mat-sys-body-medium); }

  div.interactions {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    padding-bottom: .5rem;
  }

  @media screen and (min-width: 600px) {
    padding-top: 5rem;
    padding-left: 25%;

    div.interactions {
      flex-direction: row;
      padding-bottom: 0;
    }
  }
}
