@use '../../../styles/palette.scss';

:host {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(-2.5rem);

  transition: all .3s ease-in-out;

  app-about {
    article.about-left,
    article.about-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: .5rem;

      p { text-align: center; }
    }
  }

  $height: 15rem;
  footer {
    position: absolute;
    bottom: -$height;

    height: $height;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    transition: all .3s ease-in-out;

    div.social-media {
      display: flex;
      gap: .5rem;

      app-icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

  }
}

// palette settings
:host {
  &.blue_light {
    @extend .blue_light_primary_bg,
            .blue_light_primary_contrast_txt;

    footer {
      @extend .blue_light_secondary_bg,
              .blue_light_secondary_contrast_txt;
    }
  }
  &.blue_dark {
    @extend .blue_dark_primary_bg,
            .blue_dark_primary_contrast_txt;

    footer {
      @extend .blue_dark_secondary_bg,
              .blue_dark_secondary_contrast_txt;
    }
  }
  &.pink_light {
    @extend .pink_light_primary_bg,
            .pink_light_primary_contrast_txt;

    footer {
      @extend .pink_light_secondary_bg,
              .pink_light_secondary_contrast_txt;
    }
  }
  &.pink_dark {
    @extend .pink_dark_primary_bg,
            .pink_dark_primary_contrast_txt;

    footer {
      @extend .pink_dark_secondary_bg,
              .pink_dark_secondary_contrast_txt;
    }
  }
}
