@use '../../../styles/palette.scss';

:host {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(-2.5rem);

  transition: all .3s ease-in-out;

  app-about {
    article.about-left,
    article.about-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: .5rem;

      p { text-align: center; }
    }
  }
}

// palette settings
:host {
  &.blue_light { @extend .blue_light_primary_bg, .blue_light_primary_contrast_txt; }
  &.blue_dark { @extend .blue_dark_primary_bg, .blue_dark_primary_contrast_txt; }
  &.pink_light { @extend .pink_light_primary_bg, .pink_light_primary_contrast_txt; }
  &.pink_dark { @extend .pink_dark_primary_bg, .pink_dark_primary_contrast_txt; }
}
