@use '../../../../../styles/palette.scss';

:host {
  height: 100%;
  width: calc(100% / 3);

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: .5rem;
  border: 1px solid;

  transition: background-color .3s ease-in-out;

  div.service-card-container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid;

    text-align: center;
    line-height: 110%;

    transition: all .3s ease-in-out;

    span.line {
      height: 1px;
      width: 25%;

      display: flex;

      border-radius: 1px;
    }
  }
}

// palette settings
:host {
  $palettes: ('blue_light', 'blue_dark', 'pink_light', 'pink_dark');

  @each $palette in $palettes {
    &.#{$palette} {
      @extend .#{$palette}_primary_bg,
              .#{$palette}_primary_contrast_txt;

      div.service-card-container {
        @extend .#{$palette}_primary_bg,
                .#{$palette}_primary_contrast_txt;

        span.line {
          @extend .#{$palette}_primary_contrast_bg;
        }
      }

      &:hover {
        @extend .#{$palette}_secondary_bg;
      }
    }
  }
}

:host {
  @media screen and (max-width: 1024px) {
    div.service-card-container {
      font-size: .75rem;
      line-height: 125%;

      h1.service-card-title {
        font-size: 1rem;
        line-height: 125%;
      }
    }
  }

  @media screen and (max-width: 720px) {
    width: 100%;
  }
}
