@use './typography.scss';
@use './palette.scss';

.mat-ico {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  user-select: none;
}

button.app-btn {
  @extend .button;

  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: .5rem;

  box-sizing: border-box;
  padding: 0 1rem;
  border-radius: 2.5rem;
  border: none;

  cursor: pointer;

  transition: all .3s ease-in-out;

  & > i {
    @extend .mat-ico;
  }

  @media screen and (max-width: 720px) {
    & {
      height: 2rem;
      font-size: .75rem;
    }
  }
}

// palette settings
button.app-btn {
  &.blue_light {
    @extend .blue_light_accent_bg,
            .blue_light_accent_contrast_txt;

    &:hover {
      @extend .blue_light_accent_hover_bg,
              .blue_light_accent_hover_contrast_txt;
    }
  }
  &.blue_dark {
    @extend .blue_dark_accent_bg,
            .blue_dark_accent_contrast_txt;

    &:hover {
      @extend .blue_dark_accent_hover_bg,
              .blue_dark_accent_hover_contrast_txt;
    }
  }
  &.pink_light {
    @extend .pink_light_accent_bg,
            .pink_light_accent_contrast_txt;

    &:hover {
      @extend .pink_light_accent_hover_bg,
              .pink_light_accent_hover_contrast_txt;
    }
  }
  &.pink_dark {
    @extend .pink_dark_accent_bg,
            .pink_dark_accent_contrast_txt;

    &:hover {
      @extend .pink_dark_accent_hover_bg,
              .pink_dark_accent_hover_contrast_txt;
    }
  }
}
