@use 'sass:list';

$map: (
  'display': (2.5rem, 300),   // 40px
  'title_1': (1.25rem, 400),  // 20px
  'title_2': (1.125rem, 300), // 18px
  'default': (.875rem, 300),     // 16px
  'button': (1rem, 700),      // 16px
  'hint': (.75rem, 700),      // 12px
);

@each $type, $typeList in $map {
  .#{$type} {
    font-size: list.nth($typeList, 1);
    font-weight: list.nth($typeList, 2);
  }
}
