:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  box-sizing: border-box;
  padding: 1rem;
  padding-left: 3rem;

  * { text-align: right; }

  mat-card {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    padding: 1rem 0;

    mat-card-header,
    mat-card-content,
    mat-card-footer {
      box-sizing: border-box;
      padding: 0 1rem;
    }

    mat-card-header,
    mat-card-footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: .5rem;
    }

    mat-card-header {
      font: var(--mat-sys-title-medium);
    }

    mat-card-footer {
      flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 600px) {
    padding-top: 5rem;
  }
}
