@use '@angular/material' as mat;

:host {
  width: 100%;
  height: 100%;

  display: flex;

  mat-drawer-container {
    width: 100%;
    height: 100%;

    @include mat.sidenav-overrides((
      container-shape: 0,
      container-width: 75%,
    ));

    mat-drawer nav {
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      box-sizing: border-box;
      padding: 1rem;

      header {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      div.menuOptions {
        width: 100%;

        display: flex;
        flex-direction: column;
      }
    }

    mat-drawer-content {
      width: 100%;
      height: 100%;

      button.menuButton {
        position: fixed;

        top: 1rem;
        left: 1rem;
      }
    }
  }

  mat-toolbar {
    position: fixed;

    width: 100%;

    @include mat.toolbar-overrides((
      container-background-color: color-mix(
        in srgb, var(--mat-sys-surface-container-low), transparent 20%
      ),
    ));

    button.pageTitle {
      @include mat.button-overrides((
        text-label-text-size: var(--mat-sys-title-medium-size),
      ));
    }
  }
}
