:host {
  overflow: hidden;
  max-width: 100%;
  height: 3rem;
  gap: 1rem;

  display: flex;
  justify-content: center;

  div.technologies-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    app-icon {
      width: 3rem;
      height: 3rem;
    }
  }

}

//roulette animation
:host.RouletteTechAnimated {
  @keyframes Roll {
    from { transform: translateX(0); }
    to { transform: translateX(calc(-100% - 1rem)); }
  }

  div.technologies-container {
    animation: Roll 30s linear infinite;
  }
}
