@if (animation || animation === '') {
  @for (repeat of [0, 1, 2]; track repeat) {
    <div class="technologies-container">
      @if (technologies) {
        @for (tech of technologies; track tech) {
          <app-icon [ico]="tech.ico" [link]="tech.link" class="{{ theme }}" />
        }
      }
    </div>
  }
} @else {
  <div class="technologies-container">
    @if (technologies) {
      @for (tech of technologies; track tech) {
        <app-icon [ico]="tech.ico" [link]="tech.link" class="{{ theme }}" />
      }
    }
  </div>
}
