// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$violet-palette,
    ),
    typography: Comfortaa,
    density: 0,
  ));

  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-on-surface),
    filled-label-text-color: var(--mat-sys-surface),
    text-label-text-color: var(--mat-sys-on-surface),
    text-state-layer-color: var(--mat-sys-on-surface),
    text-focus-state-layer-opacity: .1,
    text-hover-state-layer-opacity: .05,
  ));

  @include mat.icon-button-overrides((
    icon-color: var(--mat-sys-on-surface),
  ));

  @include mat.tooltip-overrides((
    container-shape: .5rem,
    container-color: var(--mat-sys-on-surface),
    supporting-text-color: var(--mat-sys-surface),
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;
  &.dark-mode {
    color-scheme: dark;
  }

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;

  transition: background-color 0.3s ease, color 0.3s ease;
  &.no-transition {
    transition: none !important;
  }
}

/* You can add global styles to this file, and also import other style files */

span.space {
  display: flex;
  flex: auto 1 1;
}
