@use '../../../../../styles/palette.scss';

:host {
  a.menu-option-link {
    width: 100%;
    height: 100%;

    display: flex;

    text-decoration: none;
    cursor: pointer;

    i.menu-option-ico,
    p.menu-option-name {
      height: 2.5rem;

      display: flex;
      align-items: center;

      white-space: nowrap;

      transition: all .3s ease-in-out;
    }

    i.menu-option-ico {
      width: 2.5rem;

      justify-content: center;
    }

    p.menu-option-name {
      overflow: hidden;
      width: 0;
    }

    &:hover p.menu-option-name,
    &:focus p.menu-option-name {
      width: calc(100% - 2.5rem);
    }
  }
}

// reverse option
:host {
  &.--menu-option-reverse a.menu-option-link {
    flex-direction: row-reverse;
    p.menu-option-name { justify-content: flex-end; }
  }
}

// theme settings
:host {
  &.blue_dark a.menu-option-link {
    @extend .blue_dark_accent_bg,
            .blue_dark_accent_contrast_txt;

    &:hover, &:focus, &:focus-visible {
      outline: none;
      i.menu-option-ico,
      p.menu-option-name {
        @extend .blue_dark_accent_hover_bg,
                .blue_dark_accent_hover_contrast_txt;
      }
    }
  }
  &.blue_light a.menu-option-link {
    @extend .blue_light_accent_bg,
            .blue_light_accent_contrast_txt;

    &:hover, &:focus, &:focus-visible {
      outline: none;
      i.menu-option-ico,
      p.menu-option-name {
        @extend .blue_light_accent_hover_bg,
                .blue_light_accent_hover_contrast_txt;
      }
    }
  }
  &.pink_dark a.menu-option-link {
    @extend .pink_dark_accent_bg,
            .pink_dark_accent_contrast_txt;

    &:hover, &:focus, &:focus-visible {
      outline: none;
      i.menu-option-ico,
      p.menu-option-name {
        @extend .pink_dark_accent_hover_bg,
                .pink_dark_accent_hover_contrast_txt;
      }
    }
  }
  &.pink_light a.menu-option-link {
    @extend .pink_light_accent_bg,
            .pink_light_accent_contrast_txt;

    &:hover, &:focus, &:focus-visible {
      outline: none;
      i.menu-option-ico,
      p.menu-option-name {
        @extend .pink_light_accent_hover_bg,
                .pink_light_accent_hover_contrast_txt;
      }
    }
  }
}
