@use '@angular/material' as mat;

:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  * { text-align: right; }

  box-sizing: border-box;
  padding: 1rem;
  padding-left: 3rem;

  mat-accordion {
    @include mat.expansion-overrides((
      container-background-color: var(--mat-sys-on-surface),
      header-text-color: var(--mat-sys-surface),
      header-indicator-color: var(--mat-sys-surface),
    ));

    width: 100%;

    mat-expansion-panel {
      div.expansion-content {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
      }
    }
  }

  mat-chip {
    @include mat.chips-overrides((
      outline-color: var(--mat-sys-surface),
      label-text-color: var(--mat-sys-surface),
      focus-outline-color: var(--mat-sys-primary),
      hover-state-layer-opacity: var(--mat-sys-primary),
    ));
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
